
.embla {
  --slide-spacing: 0;
  --slide-size: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.embla__container {
  display: flex;
  will-change: transform;
  touch-action: pan-y;
  cursor: grab;
  backface-visibility: hidden;
}

.embla__container:active {
  cursor: grabbing;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
}

.embla__slide img {
  display: block;
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.embla__slide video {
  display: block;
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}
